<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Equipment</title>

    <script type="application/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function goBack() {
            window.history.back();
        }

        function updateConfigurations() {
            $.get("/route/equipment/configurations", {"seriesId": $("#seriesNewEquip").val()},
                    function (data) {
                        $("#configurationNewEquip").empty();
                        for (i = 0; i < data.length; i++) {
                            $("#configurationNewEquip").append("<option value = \"" + data[i] + "\">" + data[i] + "</option>");
                        }
                    });
        }

        function addEquipment() {
            var series = $('#seriesNewEquip').val();
            var configuration = $('#configurationNewEquip').val();

            if (configuration == undefined) {
                alert("Must enter configuration for new equipment.");
            } else {

            }
        }
        /*]]>*/
    </script>
</head>
<body>
<h1><span th:text="${route}"></span> Equipment</h1>

<p>All the equipment used on this route. All equipment may not be present on every schedule.</p>

<table>
    <tr>
        <td><b>Series</b></td>
        <td><b>Configuration</b></td>
    </tr>
    <div th:each="equip : ${equipment}">
        <tr>
            <td th:text="${equip.getSeries()}"></td>
            <td th:text="${equip.getConfiguration()}"></td>
        </tr>
    </div>
</table>

<h4>Add Equipment</h4>
<form>
    Series:
    <select id="seriesNewEquip" onchange="updateConfigurations()">
        <option th:each="equip : ${allEquipmentSeries}"
        th:value="${equip}"
        th:text="${equip}">
        </option>
    </select>
    Configuration:
    <select id="configurationNewEquip">
    </select>
    <input type="button" onclick="addEquipment()" value="Add Equipment"/>
</form>

<br />
<button onclick="goBack()">Go Back</button>

</body>
</html>