<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Amroute</title>
</head>
<body>
<h1>Welcome to Amroute</h1>

<h3>Search Routes</h3>
<form action="#" th:action="@{/search}" th:object="${name}" method="post">
    By City:
    <select name="city" id="city" required="required">
    <option
            th:each="city : ${cities}"
            th:text="${city.getName()}"
            th:value="${city.getCityId()}"></option>
    </select>
    Lower Bound Time:
    <input type="text" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" name="lowerTime" />
    Upper Bound Time: <input type="text" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" name="upperTime" />
    <input type="submit" value="Search" />
</form>

<h3>Create Route</h3>
<form action="#" th:action="@{/route/new}" method="post">
    Name: <input type="text" name="routeId" />
    <input type="submit" value="New Route" />
</form>

<h3>All Routes</h3>

<table th:each="name : ${names}">
    <tr>
        <td><a th:href="@{/route(id=${name})}" th:text="${name}"></a></td>
        <td>
            <form action="#" th:action="@{/route/delete}" th:object="${name}" method="post">
                <input type="hidden" name="route" th:value="${name}" />
                <input type="submit" name="delete" value="Delete" />
            </form>
        </td>
    </tr>
</table>

<br />

<form th:action="@{/}">
    <input type="submit" value="Reset" />
</form>

</body>
</html>