<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All Routes</title>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</head>
<body>
    <h1>All Routes</h1>

    <table th:each="name : ${names}">
        <tr>
            <td><a th:href="@{/route(id=${name})}" th:text="${name}"></a></td>
            <td>
                <form action="#" th:action="@{/route/delete}" th:object="${name}" method="post">
                    <input type="hidden" name="route" th:value="${name}" />
                    <input type="submit" name="delete" value="Delete" />
                </form>
            </td>
        </tr>
    </table>

    <br />
    <button onclick="goBack()">Go Back</button>
</body>
</html>